{% extends 'base.html.twig' %}

{% block title %}File index{% endblock %}

{% block body %}
    <h1>File index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OwnerName</th>
                <th>Content</th>
                <th>OwnerEmail</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.ownerName }}</td>
                <td>{{ file.content }}</td>
                <td>{{ file.ownerEmail }}</td>
                <td>{{ file.createdAt ? file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ file.updatedAt ? file.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_file_show', {'id': file.id}) }}">show</a>
                    <a href="{{ path('app_file_edit', {'id': file.id}) }}">edit</a>
                    <a href="{{ path('file_pdf', {'id': file.id}) }}">Générer PDF</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_file_new') }}">Create new</a>
{% endblock %}
